#body {
    display:flex;
    justify-content: center;
}

#mainBox {
    display:flex;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
}

#mainPhoto {
    width:50%;
    height:65%;
}

#mainbox h1{
    font-size: 500%;
    font-family:Oswald;
    margin-bottom:10%;
     
}

#mainText {
    width:50%;
    font-size:250%;
    text-align: left;
}

#mainText p {
    font-family: Oswald;
    margin-bottom:20%;
}


#logoline1 {
    
    width:50%;
}

#flbImg{
    width:30%;
    height:15%;
}
#okImg {
    width:20%;
    height:15%;
}
#khImg{
    width:13%;
    height:13%;
    
}
#nkImg{
    width:30%;
    height:13%;
}
@media (pointer: coarse){
    #mainPhoto {
        width:100%;
    }
    #mainText {
        width:100%;
        font-size:450%;
    }
    #flbImg{
        width:100%;
        height:25%;
    }
    #okImg {
        width:40%;
        height:20%;
    }
    #khImg{
        width:40%;
        height:20%;
        margin-bottom:3%;
    }
    #nkImg{
        width:100%;
        height:25%;
    }
    #logoline1 {
        width:50%;
        display:flex;
    }
    #mainBox h1{
        font-size:600%
    }
    
    #titlePeople{
        font-size:70%;
    }
    
    #rolesPeople {
        font-size:70%;
    }
}

