#body {
    display:flex;
    justify-content: center;
}

#mainBox {
    display:flex;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
}

#mainPhoto {
    width:50%;
    height:65%;
}

#mainbox h1{
    font-size: 500%;
    font-family:Oswald;
    margin-bottom:5%;
     
}

#mainText {
    width:50%;
    font-size:250%;
    text-align: left;
}

#mainText p {
    font-family: Oswald;
    margin-bottom:20%;
}


#logoline1 {
    
    width:50%;
}

#flbImg{
    width:30%;
    height:13%;
}
#okImg {
    width:14%;
    height:12%;
}
#khImg{
    width:14%;
    height:13%;
    
}
#nkImg{
    width:30%;
    height:13%;
}
#orgatitle {
    font-family: Oswald;
}
#roles {
    display: flex;
    flex-direction:row;
}
#peopleInRoles {
    margin-left:8%;
}


@media (pointer: coarse){
    #body {
        width:100%;
    }
    #mainPhoto {
        width:100%;
    }
    #mainText {
        width:100%;
        font-size:450%;
    }
    #flbImg{
        width:100%;
        height:25%;
    }
    #okImg {
        width:100%;
        height:20%;
    }
    #khImg{
        width:100%;
        height:20%;
    }
    #nkImg{
        width:100%;
        height:25%;
    }
    #logoline1 {
        width:200%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #mainBox h1{
        font-size:600%
    }
    
    #titlePeople{
        font-size:70%;
    }
    
    #rolesPeople {
        font-size:70%;
    }
    #orgatitle{
        font-size:70%;
    }
    #mainText p {
        font-size:70%;
    }
}

